.sidebar-container {
    & .loggedin-user {
        height: 90px;
        display: flex;
        align-items: center;
        padding: 0 6px 0 6px;
        & .loggedin-info {
            display: grid;            
            padding-left: 10px;
        }
        & .loggedin-name {
            font-weight: 600;
        }
        & .loggedin-role {
            font-size: .8rem;
        }
    }
}
