<p-toolbar styleClass="border-none p-0 border-radius-none shadow-white">
    <div class="p-toolbar-group-left">
        <ul class="header-left_controls">
            <li>
                <a pButton pRipple role="button" (click)="onToggel()" icon="pi pi-bars"
                    class="p-button-text"></a>
            </li>
        </ul>
    </div>
    <div class="p-toolbar-group-right">
        <ul class="header-right_controls">
            <li>
                <a pButton pRipple role="button" icon="pi pi-bell" class="p-button-text">
                    <span class="cust-badge p-badge">8</span>
                </a>
            </li>
        </ul>
    </div>
</p-toolbar>