.quick-links {
    & .quick-link {
        margin: auto 1rem;
        text-align: center;
        display: inline-block;
        text-transform: uppercase;
        & i {
            margin: 0.5rem;
            display: block;
            color: #7254f3;
            font-size: 1.8rem;
        }
        & .link-text {
            display: block;
            font-size: 0.8rem;
        }
    }
}