<div class="bg-default px-3 mx-3">
    <div class="grid">
        <div class="col-12 md:col-4 lg:col-4">
            <society-panel [header]="true" styleClass="widget-panel header-bg-white">
                <ng-container header>
                    Quick Button
                </ng-container>
                <div content class="widget-panel-content widget-size-md">
                    <widget-quick-buttons class="align-self-center" *ngIf="widgetButtons.length > 0"
                        [items]="widgetButtons"></widget-quick-buttons>
                </div>
            </society-panel>
        </div>

        <div class="col-12 md:col-4 lg:col-4">
            <society-panel [header]="true" styleClass="widget-panel header-bg-white">
                <ng-container header>
                    Maintenance
                </ng-container>
                <div content class="widget-panel-content justify-content-center widget-size-md">
                    <widget-charts class="align-self-center"></widget-charts>
                </div>
            </society-panel>
        </div>

        <div class="col-12 md:col-4 lg:col-4">
            <society-panel [header]="true" styleClass="widget-panel header-bg-white">
                <ng-container header>
                    Ready to upgrade?
                </ng-container>
                <div content class="widget-panel-content justify-content-center widget-size-md">
                    <widget-upcoming class="align-self-center"></widget-upcoming>
                </div>
            </society-panel>
        </div>
    </div>
</div>